
<div class="about">
  <div class="car__img">
    <img   src="../assets/images/car-1.jpg">
  </div>
  <div class="about__car mt-2">
    <h2 class="heading-2  ml-3 align-left">Welcome To Car Zone</h2>
    <p class=" para ml-3 align-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veniam quis iste neque vitae placeat Nemo dignissimos pariatur ratione porro voluptates optio excepturi eveniet fugit? Non inventore repudiandae nostrum consequatur
    <br> voluptatum exercitationem ea ut et? Distinctio necessitatibus similique quis nisi recusandae possimus provident maxime inventore
    </p>
  </div>

</div>


<app-executive-team></app-executive-team>
