/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

$default-font-size: 1.6rem;

$color-red: red;

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 4rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pd-bt-1 {
  padding-bottom: 1rem;
}

.pd-1 {
  padding: 1rem;
}

.pd-2 {
  padding: 1rem;
}

.pd-3 {
  padding: 1rem;
}

.pd-4 {
  padding: 1rem;
}

.heading-1 {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px rebeccapurple;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.heading-2 {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 1px 1px rebeccapurple;
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 2rem;
  text-align: left;
}

.align-left {
  text-align: left;
}

.w-300 {
  max-width: 300px;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Button Common */

.btn-txt {
  margin-top: 3rem;
  height: 3.5rem;
  width: 10rem;
  font-weight: 500;
  font-size: inherit;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-red {
  background-color: red;
}

.btn-txt:active,
.btn-txt:hover {
  background-color: rgb(196, 71, 71);
}

.bg-white,
.btn-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: #202c54;
}

.btn-txt-grey {
  color: rgba(0, 0, 0, 0.8);
}

.btn-txt-grey-light {
  background-color: rgba(0, 0, 0, 0.3);
}

.hide {
  display: none;
}

.txt-white {
  color: white;
}
.txt-black {
  color: rgba(0, 0, 0, 0.8);
}

.txt-2 {
  font-size: 2rem;
}
.txt-1_5 {
  font-size: 1.5rem;
}

.slider__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.slider__btn-left,
.slider__btn-right {
  background-color: white;
  width: 4.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.slider__btn-left {
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
}

.slider__btn-left:hover,
.slider__btn-right:hover,
.slider__btn-left:hover .fa-angle-left,
.slider__btn-right:hover .fa-angle-right {
  background-color: red;
  color: white;
}

.slider__btn-right {
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 2rem;
  color: red;
}

.slider,
.executive__slider {
  margin: 5rem auto;
  white-space: nowrap;
  width: 90rem;
  height: 40rem;
  background-color: rgb(233, 232, 232);
  box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
  overflow: hidden;
}

.executive__slider {
  height: 32rem;
}

.slider-container,
.executive__container {
  display: inline-block;
  position: relative;
  height: 40rem;
  width: 29rem;
  margin: 0 0.5rem;
  overflow: hidden;
  background-color: white;
}

.executive__container {
  width: 21.5rem;
}

.slider__img {
  height: 20rem;
  width: 29rem;
}

.executive__img {
  height: 25rem;
  width: 21.5rem;
}

.ngx-slider .ngx-slider-pointer {
  background-color: #dc3545 !important;
}

.ngx-slider .ngx-slider-selection {
  background: #dc3545 !important;
}

.ngx-slider .ngx-slider-pointer {
  width: 24px !important;
  height: 24px !important;
  top: -10px !important;
}

.ngx-slider .ngx-slider-pointer:after {
  top: 8px !important;
  left: 8px !important;
}

.active-lnk {
  color: #0559ae !important;
  text-shadow: #dc3545 !important;
}

#toast-container {
  font-size: 3rem !important;
}

.account_container {
  margin: 2rem auto;
  width: 400px;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 41%);
}
