.dropdown, .search_name{
  width : 32rem;
  height :5rem;
  margin :1rem;
  font-size: 1.5rem;
  border : 1px solid #eee;
  color : rgb(105, 102, 102);
  border-radius: 2px;
  font-family: Helvetica;
  outline:none;

}
.btn-modify{
  width : 32rem;
  height :6rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

option{
  font-size: 1.5rem;
}

.search_name{
  color: lightslategray;
  outline: none;
}
.search_name::placeholder{
  padding-left :2rem;
}


.search__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 35rem;
  box-shadow:1px 1px 10px 1px rgba(0,0,0,.35);
  margin: 10px auto;
  background-color: #fff;
  border-radius: 3px;
}


